<CascadingAuthenticationState>
<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>

<style>
@@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
html, body {
font-family: 'Mukta','Barlow', sans-serif;
}
</style>