@page "/ConfirmarEntregaDePedidoConductor"
@inject IPedidosServices _pedidosServices
@inject IPersonalServices _personalServices
@inject IInventarioServices _inventarioServices
@inject IDistribuidorasServices _distribuidoraServices
@inject IJSRuntime JsRuntime
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

@if (ResponseConductores != null && Paginacion == 1)
{
    <h4>Lista de Conductores</h4>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre Completo Conductor</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Telefono</th>
                <th scope="col">Vehiculo</th>
                <th scope="col">Placa</th>
                <th scope="col">Pedidos</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var conductor in ResponseConductores.Data)
            {
                <tr>
                    <td>@conductor.Conductor.Nombre @conductor.Conductor.Apellido</td>
                    <td>@conductor.Conductor.FechaNacimiento.ToShortDateString()</td>
                    <td>@conductor.Conductor.Telefono</td>
                    <td>@conductor.Vechiculo.Marca @conductor.Vechiculo.Modelo</td>
                    <td>@conductor.Vechiculo.Placa</td>

                    <td>
                        <button class="btn btn-success" @onclick="() => ConfirmarPedidos(conductor)">Ver pedidos</button>
                    </td>
                </tr>

            }

        </tbody>
    </table>
}
else if (Paginacion == 2)
{
    <RealizarEntregaAConductor ConductorSeleccionado=ConductorSeleccionado/>
}
else
{
    <p>Cargando...</p>
}

@code
{
    public ServiceResponse<List<AsignacionVechiculoConductorDTO>> ResponseConductores { get; set; }
    public AsignacionVechiculoConductorDTO ConductorSeleccionado { get; set; }
    public bool EsDistribuidora { get; set; } = false;
    public Guid IdEmpresaSesion { get; set; }
    public int Paginacion { get; set; } = 1;

    protected override async Task OnInitializedAsync()
    {
        IdEmpresaSesion = new Guid(await LocalStorage.GetItemAsync<string>("idEmpresa"));
        EsDistribuidora = await LocalStorage.GetItemAsync<bool>("EsDistribuidora");
        ResponseConductores = await _distribuidoraServices.ObtenerTodoVehiculoConductor();
    }

    public void ConfirmarPedidos(AsignacionVechiculoConductorDTO conductor)
    {
        ConductorSeleccionado = conductor;
        Paginacion = 2;
    }
}