@*@page "/AdministrarProducto"
@using System.Reflection
@using Compartido
@using Compartido.Dto.Distribuidora.General
@inject IInventarioServices _inventarioService
@inject NavigationManager NavManager
@inject ILocalStorageService LocalStorage

<h3>AdministrarProducto</h3>


<!-- Implementacion -->
@if (ListaProducto != null && ListaProducto.Success == true && VisibleListado == true)
{
    <div style="width: 100%; height: 30rem; display: flex; justify-content: center; align-items: center;">
        <div style="width: 70%;">
            @if (ListaProducto.Data.Count > 0)
            {
                <table class="table table-bordered" style="width: 100%">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo de producto</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Opcion</th>
                        </tr>
                    </thead>
                     <tbody>
                        @foreach (var item in ListaProducto.Data)
                        {
                            <tr id="fila1" class="filaTabla">
                                <td>@item.Nombre</td>
                                <td>@BuscarNombreTipoProducto(item.TipoProductoId)</td>
                                <td>@item.Descripcion</td>
                                <td>
                                    <button @onclick="() => MostrarModificar(item)">Modificar</button>
                                    <button @onclick="() => EliminarProducto(item)">Eliminar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No existen productos registrados.</p>
            }
        </div>

        <!-- Boton  -->
    </div>
    <div style="display: flex; justify-content: center;">
        <button @onclick="MostrarRegistrar" type="submit" class="btn btn-primary" id="btnRegistrar" style="font-size: 20px;">
            Registrar nuevo
        </button>
    </div>
}
else if (VisibleEditar == true && ProductoSeleccionada != null)
{
    <ModificarProducto 
        Producto="@ProductoSeleccionada"
        ListaTipoProducto="ListaTipoProducto.Data"
        MostrarListado="() => MostrarListado()"
        MostrarModificar="() => MostrarModificar(ProductoSeleccionada)" />
}
else if (VisibleRegistrar == true)
{
    <RegistrarProducto ListaTipoProducto="ListaTipoProducto.Data"
        MostrarListado="() => MostrarListado()"
        MostrarRegistrar="() => MostrarRegistrar()" />
}
else
{
    <p>@Loading</p>
}

@code {
    public readonly string EnlaceRegistro = "RegistrarProducto";
    public readonly string EnlaceModificar = "ModificarProducto";
    public string Loading = "Cargando...";

    public ServiceResponse<List<ProductoDTO>> ListaProducto { get; set; }
    public ServiceResponse<List<TipoProductoDTO>> ListaTipoProducto { get; set; }
    public ProductoDTO ProductoSeleccionada { get; set; }

    public bool VisibleRegistrar { get; set; }
    public bool VisibleEditar { get; set; }
    public bool VisibleListado { get; set; }
    public string Distribuidora;

    protected override async Task OnInitializedAsync()
    {
        VisibleListado = true;
        VisibleEditar = false;
        VisibleRegistrar = false;
        ListaTipoProducto = await _inventarioService.ObtenerTodoTipoProducto();
        ListaProducto = await _inventarioService.ObtenerTodoProducto();
        Distribuidora = await LocalStorage.GetItemAsync<string>("idEmpresa");
        this.MostrarListado();
        StateHasChanged();
    }



    public void RedireccionarPagina(string enlace)
    {
        NavManager.NavigateTo(enlace);
        StateHasChanged();
    }

    public async void MostrarListado()
    {
        VisibleListado = true;
        VisibleEditar = false;
        VisibleRegistrar = false;
        ListaProducto = await _inventarioService.ObtenerTodoProducto();
        Guid dist = new Guid(Distribuidora);
        ListaProducto.Data = ListaProducto.Data.Where(t => t.EmpresaDistribuidoraId.Equals(dist)).ToList();


        StateHasChanged();
    }

    public void MostrarRegistrar()
    {
        VisibleListado = false;
        VisibleEditar = false;
        VisibleRegistrar = true;

        StateHasChanged();
    }

    public void MostrarModificar(ProductoDTO productoDTO)
    {
        VisibleListado = false;
        VisibleEditar = true;
        VisibleRegistrar = false;
        ProductoSeleccionada = productoDTO;

        StateHasChanged();
    }

    public async void EliminarProducto(ProductoDTO productoDTO)
    {
        var response = await _inventarioService.EliminarProducto(productoDTO);
        
        this.MostrarListado();
    }

     public string BuscarNombreTipoProducto(Guid Id)
    {
        var result = (from tipoProducto in ListaTipoProducto.Data
                    where tipoProducto.Id == Id
                    select tipoProducto).FirstOrDefault();

        return result.Nombre;
    }

}*@