@page "/ConfirmarEntregaDePedidoCliente"
@inject IPedidosServices _pedidosServices
@inject IPersonalServices _personalServices
@inject IInventarioServices _inventarioServices
@inject IDistribuidorasServices _distribuidoraServices
@inject IJSRuntime JsRuntime
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

@if (ResponsePedido != null)
{
    <h4>Confirmacion de entregas de pedidos a cliente</h4>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre Cliente</th>
                <th scope="col">Necesita Factura</th>
                <th scope="col">Aclaracion cliente</th>
                <th scope="col">Metodo de Pago</th>
                <th scope="col">Estado del pago</th>
                <th scope="col">Estado del envio</th>
                <th scope="col">Opcion</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var pedido in ResponsePedido.Data)
            {
                <tr>
                    <td>@pedido.OrdenPedido.EmpresaCliente.NombreEmpresa</td>
                    <td>@(pedido.OrdenPedido.DeseaFactura == true ? "Si" : "No")</td>
                    <td>@pedido.OrdenPedido.AclaracionCliente</td>
                    <td>@pedido.OrdenPedido.MetodoPago</td>
                    <td>@pedido.EstadoPago</td>
                    <td>@pedido.EstadoEnvio</td>
                    <td>
                        <button class="btn btn-success" @onclick="() => ConfirmarEntregaPedido(pedido)">Confirmar entrega</button>
                    </td>
                </tr>

            }

        </tbody>
    </table>
}
else
{
    <p>Cargando...</p>
}
@code {

    [Parameter]
    public AsignacionVechiculoConductorDTO ConductorSeleccionado { get; set; }

    public ServiceResponse<List<PedidoDTO>> ResponsePedido { get; set; }
    public List<PedidoDTO> ListaPedidosConfirmados { get; set; } = new List<PedidoDTO>();
    public bool EsDistribuidora { get; set; } = false;
    public Guid IdEmpresaSesion { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IdEmpresaSesion = new Guid(await LocalStorage.GetItemAsync<string>("idEmpresa"));
        EsDistribuidora = await LocalStorage.GetItemAsync<bool>("EsDistribuidora");
        ResponsePedido = await _pedidosServices.ObtenerPedidosDistribuidoraPorId(IdEmpresaSesion);
        ResponsePedido.Data = ResponsePedido.Data.Where(p => p.EstadoEnvio.Equals("Producto en camino")).ToList();
    }


    public void ConfirmarEntregaPedido(PedidoDTO pedido)
    {
        _pedidosServices.ConfirmarEntregaCliente(pedido.Id);
        NavigationManager.NavigateTo("/", forceLoad: true);
    }

}
