<div class="form-group">
    <label for="@Id" class="form-label mt-4">Nombre</label>
    <input type="text" class="form-control" id="@Id" aria-describedby="@IdHelp" placeholder="@PlaceHolder">
    <small id="@IdHelp" class="form-text text-muted">@MensajeHelp</small>
</div>

@code {
    [Parameter]
    public string MensajeEtiqueta { get; set; }
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string PlaceHolder { get; set; }
    [Parameter]
    public string IdHelp { get; set; }
    [Parameter]
    public string MensajeHelp { get; set; }
}
