@page "/Catalogo"
@inject IJSRuntime JsRuntime
@inject IInventarioServices _inventarioServices
@inject IPedidosServices _pedidosServices

@if (EmpresaDistribuidora != null && StockResponse != null && Paginacion == 1)
{
    <h3>Catalogo de productos</h3>
    <h4>@NombreEmpresaDistribuidora</h4>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre del producto</th>
                <th scope="col">Descripcion del producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productoStock in StockResponse.Data)
            {
                    <tr>
                        <td>@productoStock.Producto.Nombre</td>
                        <td>@productoStock.Producto.Descripcion</td>
                        <td>@productoStock.PrecioVentaPromedio</td>
                        <td>
                            <button @onclick="() => AgregarAlCarrito(productoStock)" type="button" class="btn btn-success">Agregar Al carrito</button>
                        </td>
                    </tr>
            }
        </tbody>
    </table>

    <!-- Productos en  carrito -->
    <div class="m-5">
    </div>
    <h3>Mi Carrito:</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre del producto</th>
                <th scope="col">Descripcion del producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in ProductosEnCarrito)
            {

                <tr>
                    <td>@producto.Stock.Producto.Nombre</td>
                    <td>@producto.Stock.Producto.Descripcion</td>
                    <td>
                        <input @bind="@producto.CantidadOrdenada" type="number" />
                    </td>
                    <td>@producto.Stock.PrecioVentaPromedio</td>
                    <td>@CalcularSubtotal(@producto.Stock.PrecioVentaPromedio, @producto.CantidadOrdenada)</td>
                    <td>
                        <button @onclick="() => QuitarCarrito(producto)" type="button" class="btn btn-danger">Quitar del carrito</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    @if (ProductosEnCarrito.Count > 0)
    {
        <button @onclick="SeguirCompra" type="button" class="btn btn-primary">Realizar Pedido</button>
    }
}
else if (Paginacion == 2)
{
    <RealizarPedido ProductosEnCarrito="ProductosEnCarrito" EmpresaDistribuidora="EmpresaDistribuidora" />
}

@code {
    [Parameter]
    public EmpresaDistribuidoraDTO EmpresaDistribuidora { get; set; }

    public string NombreEmpresaDistribuidora { get; set; }
    public Guid IdEmpresaDistribuidora { get; set; }

    public ServiceResponse<List<StockDTO>> StockResponse { get; set; }
    public List<DetalleOrdenPedidoDTO> ProductosEnCarrito { get; set; } = new List<DetalleOrdenPedidoDTO>();

    public int Paginacion { get; set; } = 1;

    protected override async Task OnInitializedAsync()
    {
        NombreEmpresaDistribuidora = EmpresaDistribuidora.NombreEmpresa;
        IdEmpresaDistribuidora = EmpresaDistribuidora.Id;

        StockResponse = await _inventarioServices.ObtenerTodoStockPorIdEmpresa(IdEmpresaDistribuidora);
    }

    public void AgregarAlCarrito(StockDTO productoStock)
    {
        DetalleOrdenPedidoDTO detalle = new DetalleOrdenPedidoDTO();
        detalle.StockId = productoStock.Id;
        detalle.Stock = productoStock;

        ProductosEnCarrito.Add(detalle);
        StockResponse.Data.Remove(productoStock);
        StateHasChanged();
    }

    public void QuitarCarrito(DetalleOrdenPedidoDTO producto)
    {
        StockResponse.Data.Add(producto.Stock);
        ProductosEnCarrito.Remove(producto);
        StateHasChanged();
    }
    
    public decimal CalcularSubtotal(decimal precio, int cantidad)
    {
        return precio * cantidad;
    }

    public async void SeguirCompra()
    {
        if (VerificarCantidadesOrdenadas())
        {
            Paginacion = 2;
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "Para añadir al carrito debe ingresar una cantidad valida.");
        }

        StateHasChanged();
    }

    public bool VerificarCantidadesOrdenadas()
    {
        foreach (var detalleOrden in ProductosEnCarrito)
        {
            if (detalleOrden.CantidadOrdenada <= 0)
                return false;
        }
        return true;
    }
}